<mat-card *ngIf="news!=null" id="card">
  <mat-card-header>
    <img mat-card-image [src]="news?.current?.weather_icons" />
  </mat-card-header>
  <mat-card-title></mat-card-title>
  <mat-card-content>
    <div class="row">
      <div class="wetherInfo">
        <label *ngIf="news!=null">{{ news?.current?.temperature}}&#x2103;</label>
        <label *ngIf="news!=null">{{ news?.current?.temperature | celcius }}&#x2109;</label>
        <h3> <label *ngIf="news!=null"><b>{{ news?.current?.weather_descriptions }}</b></label></h3>
        <label *ngIf="news!=null">Wind direction:{{ news?.current?.wind_dir}}</label>
        <label *ngIf="news!=null">feels like:{{ news?.current?.feelslike}}</label>
      </div>
      <label for="">{{ news?.location?.name }}</label>
      <label for="">{{ news?.location?.country }}</label>
      <label for="">{{ news?.location?.localtime }}</label>
    </div>
  </mat-card-content>
</mat-card>
<app-loader *ngIf="isLoader"></app-loader>
