<app-header></app-header>
<mat-card>
  <mat-card-title></mat-card-title>
  <mat-card-content>
    <form #wetherForm="ngForm" (ngSubmit)="Search(wetherForm)" class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>City</mat-label>
        <input [(ngModel)]="cityName" ngModel #city required name="city" matInput placeholder="please enter your city.">
        <mat-error>city is required</mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">search</button>
    </form>

  </mat-card-content>
</mat-card>

<mat-card *ngIf="news?.error==null" id="card">
  <mat-card-header>
    <img mat-card-image [src]="news?.current?.weather_icons" />
    </mat-card-header>
  <mat-card-title></mat-card-title>
  <mat-card-content>
  <label *ngIf="news!=null">Temperature :: {{ news?.current?.temperature }}</label>
  <label *ngIf="news!=null">Celcius :: {{ news?.current?.temperature }}</label>
  </mat-card-content>
  </mat-card>