mat-card {
  width: 900px;
  height: 100px;
  align-items: center;
  margin-left: 200px;
  margin-top: 30px;
}

button {
  margin-left: 60px;
}

img {
  width: 100px;
  width: 100px;
  margin-top: auto;
  transition: ease-out;
  border-radius: 10px 10px 10px 10px;
  /* margin-left: 900px; */
  animation-name: imgAnimation;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  transition:linear;
}

@keyframes imgAnimation {
  from{
    margin-top: 0px;
  }
  to{
    margin-top: 120px;
  }
}

.locationInfo {
  margin-top: 0;
  margin-left: 200px;
}

#card {
  display: flex;
  height: 200px;
  background-color: #74B9FF;
}

#card mat-card-header{
  margin-left: 20px;
}

#card mat-card-content{
  margin-left: 200px;
}

label {
  margin-left: 40px;
  padding-left: 0;
  font-style: italic;
  font-family: sans-serif;
}

input:text {
  width: 90%;
}

form {
  margin-left: 40px;
}
